$color-text: #00008f;
$color-button: hsl(224, 93%, 58%);
@mixin formato-section{
    height: 36rem;
}
@mixin button-getstarter{
    background-color: $color-button;
    border-style: none;
    border-radius: 5px;
    padding: 0.3rem 1.2rem;
    color: #fff;
}
.quotes{
    width: 2rem;
}

.ilustration{
   max-width: 39.7em;
}
/// modificar componente s de tamaño de las imagenes para estbalecer los estilos de bootrap
.items-nav{
    display: flex;
    align-items:center;
    justify-content: end;
    gap: 3.5rem;
    margin: auto 0;
    li{
        list-style: none;
        a{
            text-decoration: none;
            color: darkslategray;
            &:hover{
                font-size: 4rem;
            }
        }
    }

}
.logo{
    width: 10rem;
}

.navbar-own{
    display: flex;
    justify-content: space-between;
    background: #4f4;
    margin: 2.5em 0;
    padding: 0 3em;
    color: $color-text;
    @media (max-width: 765px){
        background-color: black;
    }
}

.profile{
    display: flex;
}

.avatar{
    width: 3rem;
    height: min-content;
}

.searcher-finish{
    display: flex;
    flex-direction: column;
}

.btn-starter{
    min-width: 25rem;
    @include button-getstarter;
}

.section-1{
    @include formato-section;
    background-color: #57b867
}
.section-2{
    @include formato-section;
    background-color: #d365e9;
}
.section-3{
    height: 15rem;
    background-color: skyblue;
}
//// tengo que rehacer todo ya no esta cuadrando, 
/// 
footer{
    display: flex;
    justify-content: space-around;
}