.quotes{
    width: 2rem;
}

.ilustration{
   max-width: 39.7em;
   height: auto;
}
/// modificar componente s de tamaño de las imagenes para estbalecer los estilos de bootrap
li{
    list-style: none;
}
.items-nav{
    display: flex;
    align-items:center;
    justify-content: end;
}

.logo{
    width: 15rem;
}

.navbar-own{
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    background: #4f4;
    margin: 3rem auto 0;
}

.profile{
    display: flex;
}

.avatar{
    width: 3rem;
    height: min-content;
}

.searcher-finish{
    display: flex;
    flex-direction: column;
}

.btn-starter{
    background-color: hsl(224, 93%, 58%);
    border-style: none;
    border-radius: 5px;
    padding: 0.3rem 1.2rem;
    color: #fff;
}

/// terminar componenetes for the rest of the page
/// responsive theme for mobile devices
/// no ni idea de que hacer
/// me falta realizar muchas cosas dentro de esta web ap
/// por esta ocasion solo agregare comentarios no se que mas hacer tendre que volver a repasar
/// bkjbilhñl
/// terminare este pagina web y de ahi me dedicare al dom de jsgi
/// the last change before begin proyect
/// no me acuerdo en que segemeto lo deje hay que volver a revisar quiero aprender fuciones avanzadas de flexbox

///la verdad no tengo ni la mas minima idea de que estoy haciendo, haber ha seguir practicando mañana