@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --raelway:'Raleway', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --verydark-blue: hsl(243, 87%, 12%);
    --Light-grayish--blue: hsl(240, 75%, 98%);
    --Light-gray: hsl(0, 0%, 75%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --bright-blue: hsl(224, 93%, 58%);
    --desaturated-blue: hsl(238, 22%, 44%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    gap:4rem;
    background-color: var(--Light-grayish--blue);
}

.ilustration{
    width: 50%;
}


.section{
    min-height: 29.5rem;
}

.description{
    width: 50%;
    min-width: 480px;
}

.ilustration{
    width: 48%;
    min-width: 480px;
}

.title{
    font-family: var(--raelway);
    font-weight: 700;
    font-size: 2.4rem
}

.section-1{
}

.section-3{
    height: 18rem;
    background-color: var(--desaturated-blue);
    color: white;
}

.navbar-own{
    height: 3rem;
}

.logo{
    height: 100%;
    width: auto;
}

.avatar{
   width: 2.25rem;
   height: 100%; 
}

.flecha{
    height: 100%;
    width: auto;
}

.card{
    width: 24rem;
    height:auto;
    background-color: white;
    box-shadow: 0 0 10px var(--Light-gray);
    border-radius: 0.75rem;
}

.quotes{
    width: 1.15rem;
}

footer{
    background-color: var(--verydark-blue);
    height: 16rem;
    color: white;
}

.input-email{
    padding: 0.5rem;
    border-width: 0.01rem;
    border-color: var(--desaturated-blue);
    border-radius: 3px;
}

.get-started{
    background-color: var(--bright-blue);
    color: white;
    border-radius: 3px;
}

.get-started.button-2{
    width: 100%;
    max-width: 17rem;
    border-radius: 3px;
}

.logo-end{
    width: 10.12rem;
    height: auto;
}

p{
    font-size: 14px;
}

.name{
    font-size: 12px;
    font-weight: bold;
}

.position{
    font-size: 10px;
}

.searcher-finish>input{
    padding: 0.5rem;
    border-radius: 3px;
}

.social-networks>.icon{
    width: 2rem;
    height: auto;
}

.icon-contact{
    width: 1.31rem;
    height: auto;
}

@media (max-width: 768px) {
    .section{
        padding: 0;
    }
}