@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --raelway:'Raleway', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --verydark-blue: hsl(243, 87%, 12%);
    --Light-grayish--blue: hsl(240, 75%, 98%);
    --Light-gray: hsl(0, 0%, 75%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --bright-blue: hsl(224, 93%, 58%);
    --desaturated-blue: hsl(238, 22%, 44%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input{
    width: auto;
    max-width: 15rem;
    padding: 0.5rem 0.5rem;
    border-radius: 0.3rem;
}

.ilustration{
    height: 26rem;
    min-height: 18rem;
}
.description{
    width: auto;
    max-width: 35rem;
}
.social-networks{
    background-color: blue;
}
.icon{
    width: 2rem;
    height: auto;
}
/*navbar*/
.navbar-own{
    padding: 2rem 3rem;
}

.logo{
    width: 7rem;
    height: 100%;
}
/*section-1*/
#section-1{
    height: auto;
    background-color: #fff;
    padding: 3rem;
    gap:1rem;
}

/*section-2*/
#section-2{
    height: auto;
    padding: 4rem 3rem;
    gap: 1rem;
    background-color: var(--Light-grayish--blue);
}
.flecha{
    width: 1.5rem;
    height: auto;
}
    /* card person */
.card{
    width: 21rem;
    padding: 1.2rem;
    background-color: green;
}
.avatar{
    width: auto;
    height: 2rem;
}
 
/*section-3*/
#section-3{
    background-color: var(--desaturated-blue);
    padding: 3rem;
}
#section-3>.description{
    max-width: 40rem;
    padding-right: 2rem;
}
.searcher-finish{
    height: min-content;
}

/*footer*/
.footer{
    padding: 3rem;
    background-color: var(--verydark-blue);
}

.get-started{
    width: 12rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    background-color: var(--bright-blue);
}
.searcher-init>.get-started{
    width: 12rem;
    min-width: 10rem;
}

.icon-contact{
    width: 1.5rem;
    height: 1.5rem;
}
/*responsive design*/
@media (max-width: 991px) {
    .footer{
        background-color: #4c6a92;
    }
    #section-1,#section-2,#section-3{
        padding: 3rem 1rem;
    }
}